$section-delay-start: 300ms;
$section-delay-step: 100ms;

$contact-title-delay-start: 700ms;
$contact-delay-step: 50ms;
$contact-description-delay-start: 800ms;

$intro-title-delay-start: 1000ms;
$intro-delay-step: 100ms;
$intro-description-delay-start: 1100ms;

$z-bg: 0;
$z-overlay: 1;
$z-animation: 2;
$z-content: 3;
$z-button: 4;