.line-1 {
    width: 20px;
    height: 3px;
    position: absolute;
    top: 28px;
}

.line-2 {
    width: 20px;
    height: 3px;
    position: absolute;
    top: 36px;
}

.glass {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(10px);
}

.show {
    opacity: 1;
}

.hide {
    opacity: 0;
}