@use './utilities';
@use './animations';

@use './../../../styles/colors' as color;

.wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.09);
}

.navigation {
    flex-direction: column;
    color: color.$font-secondary;
    width: 100%;
    font-weight: 300;
    z-index: 10;
    height: 64px;

    @media (min-width: 1400px) {
        max-width: 1400px;
        padding: 0px;
    }  
     
    @media (max-width: 1200px) {
        padding: 0px 18px;
    }

    &__bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        padding: 0px 40px;

        @media (max-width: 1200px) {
            padding: 0px;
        }

        &--logo {
            height: 32px;
            cursor: pointer;
            padding: 16px 0px;
        }

        &--selection {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;

            @media (max-width: 1200px) {
                display: none;
            }
        }

        &--option {
            padding: 0px 12px;
            display: flex;
            align-items: center;
            height: 64px;
            color: color.$font-primary;
            font-size: 16px;
            transition: 400ms;

            &:hover {
                cursor: pointer;
                color: color.$font-secondary;
            }
        }
        
        &--btn {
            display: none;
            cursor: pointer;
            height: 36px;
            width: 36px;
            gap: 6px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: 400ms;

            @media (max-width: 1200px) {
                display: flex;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 12px;
            }
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-bottom: 48px;
        
        &--option {
            padding: 6px 12px;
            height: 48px;
            width: 300px;
            font-size: 16px;
            color: color.$font-primary;
            display: flex;
            align-items: center;
            cursor: pointer;

            @media (max-width: 400px) {
                width: auto;
            }

            &:hover {
                transition: color 300ms ease;
                color: color.$font-secondary;
            }
        }

        &--special-option {
            height: 64px;
            width: 300px;
            color: color.$font-primary;
            display: flex;
            align-items: center;

            @media (max-width: 400px) {
                width: auto;
            }
        }
    }
}