@use './variables.animations' as var;
@use './../../../styles/animations.mixins'as mixin;
@use './../../../styles/animations.keyframes' as keyframe;

@for $i from 1 through 3 {
  .title-animation-#{$i} {
    @include mixin.fade(
      fadeInLeft,
      900ms,
      var.$title-delay-start + ($i - 1) * var.$title-delay-step
    );
  }
}

@for $i from 1 through 3 {
  .description-animation-#{$i} {
    @include mixin.fade(
      fadeInLeft,
      900ms,
      var.$description-delay-start + ($i - 1) * var.$description-delay-step
    );
  }
}

.btn-animation {
  @include mixin.fade(fadeInLeft, 600ms, 1000ms);
}

.mail-slogan-animation {
  @include mixin.fade(fadeInBottom, 600ms, 1000ms);
}
