@use './../../../styles/colors' as color;

.btn {
    border-radius: 100vw;
    max-width: 100%;
    width: fit-content;
    height: 24px;
    padding: 12px 16px;
    margin: 0px 8px;
    display: flex;
    gap: 8px;
    position: relative;
    cursor: default;
    background: rgba(0, 0, 0, 0.5);
    white-space: nowrap;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        padding: 1px;
        border-radius: inherit;

        background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 0.1) 10%,
            transparent 40%
        );

        -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude;

        pointer-events: none;
    }

    &__text {
        color: color.$font-primary;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        align-items: center;
    }

    &__icon {
        display: flex;
        align-items: center;
        transition: transform 0.4s;

        svg {
            height: 24px;
            width: 24px;
            fill: color.$font-primary;
        }
    }
}