<section class="intro">
    <div class="intro__bg bg-animation"></div>
    <div class="intro__bg-overlay"></div>

    <div class="intro__paragraph">
        <div class="intro__paragraph-content">
            <div class="intro__paragraph-label paragraph-label-animation">
                <div class="circle-static"></div>
                <div class="circle-dynamic"></div>
                available for work
            </div>
            <div class="intro__paragraph-title">
                <span class="title-animation-1">Building brands </span>
                <span class="title-animation-2">to drive </span>
                <span class="intro__paragraph-title--highlight title-animation-3">Results</span>
            </div>
            <div class="intro__paragraph-description">
                <span class="description-animation-1">We merge bold strategy, compelling storytelling, </span>
                <span class="description-animation-2">and timeless design to craft unforgettable brand </span>
                <span class="description-animation-3">experience that truly resonate.</span>
            </div>
        </div>

        <div class="intro__paragraph-nav btn-animation">
            <div class="intro__paragraph-btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                    <path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640H447l-80-80H160v480l96-320h684L837-217q-8 26-29.5 41.5T760-160H160Zm84-80h516l72-240H316l-72 240Zm0 0 72-240-72 240Zm-84-400v-80 80Z"/>
                </svg>
                View Projects
            </div>

            
            <div class="intro__paragraph-btn w160">
                <div class="glowing-border"></div>
                <div class="animated-border"></div>
                <div class="dark-border"></div>
                <svg viewBox="0 -960 960 960">
                    <path d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"/>
                </svg>
                Get Started Now
            </div>
        </div>

        <div class="intro__paragraph-socials btn-animation">
            <img src="img/linkedin.svg">
            <img src="img/malt.svg">
            <img src="img/freelancermap.svg">
        </div>
    </div>

    <div class="intro__visual img-animation">
        <svg class="intro__circle-text circle-text-animation" viewBox="0 0 200 200">
            <defs>
                <path
                id="circlePath"
                d="M 100, 100
                    m -75, 0
                    a 75,75 0 1,1 150,0
                    a 75,75 0 1,1 -150,0"
                />
            </defs>

            <text>
                <textPath href="#circlePath">
                Reliable • Scalable • High-quality •
                </textPath>
            </text>
        </svg>
        <div class="intro__visual-img-border"></div>
        <img src="img/blackman.png" class="intro__visual-img">
        <div class="intro__visual-rating">
            <img src="img/rating.svg">
            <div>4.7/5 stars (100+Clients)</div>
        </div>
    </div>

    <div class="intro__next next-animation">
        <app-fireflies></app-fireflies>
        <img src="img/arrow-down.svg" class="intro__next-btn next-btn-animation">
    </div>

    <div class="intro__glass-border">

    </div>
</section>