@use './../../../styles/colors' as color;

.button {
    z-index: 1;
    position: relative;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    gap: 8px;
    color: color.$font-secondary;
    background-color: color.$bg-secondary;
    border-radius: 120px;
    font-size: 16px;
    cursor: pointer;
    overflow: visible;

    svg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 20px;
        fill: color.$font-secondary;
    }

    &:hover .animated-border::after {
        opacity: 1; 
    }
}

@mixin border-base($width, $height) {
  position: absolute;
  width: $width;
  height: $height;
  padding: inherit;
  border-radius: inherit;
  pointer-events: none;
}

.animated-border-base-medium {
  @include border-base(164px, 44px);
}

.animated-border-base-large {
  @include border-base(204px, 44px);
}

.border-base-medium {
  @include border-base(160px, 40px);
}

.border-base-large {
  @include border-base(200px, 40px);
}


.glowing-border {
  z-index: -3;
  filter: blur(6px);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 500ms ease-in-out;
    background: radial-gradient(
      20.7% 50% at 50% 100%,
      white 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
  }
}

.animated-border {
  z-index: -2;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transition: opacity 800ms ease-in-out;
  }

  &::before {
    background: radial-gradient(
      20.7% 50% at 50% 100%,
      white 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
    opacity: 1;
  }

  &::after {
    background: radial-gradient(
      60.1% 50% at 50% 100%,
      white 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
    opacity: 0;
  }
}

.dark-border {
  z-index: -1;
  // background-color: color.$bg-secondary;
}