@use './variables.animations' as var;
@use '../../../../colors.scss' as color;
@use './animations.mixins'as mixin;

@for $i from 1 through 3 {
  .title-animation-#{$i} {
    @include mixin.fade(
      fadeInLeft,
      900ms,
      var.$title-delay-start + ($i - 1) * var.$title-delay-step
    );
  }
}

@for $i from 1 through 3 {
  .description-animation-#{$i} {
    @include mixin.fade(
      fadeInLeft,
      900ms,
      var.$description-delay-start + ($i - 1) * var.$description-delay-step
    );
  }
}

.paragraph-label-animation {
  @include mixin.fade(fadeInUp, 400ms, 1000ms);
}

.next-animation {
  @include mixin.fade(fadeIn, 600ms, 500ms);
}

.bg-animation {
  @include mixin.fade(fadeIn, 500ms, 500ms);
}

.next-btn-animation {
  @include mixin.anyAnimation(float, 5s, 0ms, ease-in-out, infinite, 1);
}

.circle-text-animation {
  @include mixin.anyAnimation(spin, 15s, 0ms, linear, infinite, 1);
}

.img-animation {
  @include mixin.fade(fadeInBottom, 600ms, 1000ms);
}

.btn-animation {
  @include mixin.fade(fadeInLeft, 600ms, 1000ms);
}

.circle-static {
  @include mixin.circle-base;
  position: relative;
}

.circle-dynamic {
  @include mixin.circle-base;
  position: absolute;
  animation: radar 2500ms infinite;
}

.glowing-border {
  @include mixin.border-base(164px, 40px);
  z-index: -3;
  filter: blur(6px);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 500ms ease-in-out;
    background: radial-gradient(
      20.7% 50% at 50% 100%,
      white 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
  }
}

.animated-border {
  @include mixin.border-base(164px, 40px);
  z-index: -2;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transition: opacity 800ms ease-in-out;
  }

  &::before {
    background: radial-gradient(
      20.7% 50% at 50% 100%,
      white 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
    opacity: 1;
  }

  &::after {
    background: radial-gradient(
      60.1% 50% at 50% 100%,
      white 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
    opacity: 0;
  }
}

.dark-border {
  @include mixin.border-base(160px, 36px);
  z-index: -1;
  background-color: color.$bg-secondary;
}
  
.w160 {
  width: 160px;
  height: 36px;
}