@use './variables.animations' as var;
@use './../../../styles/colors' as color;
@use './../../../styles/animations.mixins'as mixin;

@for $i from 1 through 3 {
  .title-animation-#{$i} {
    @include mixin.fade(
      fadeInLeft,
      900ms,
      var.$title-delay-start + ($i - 1) * var.$title-delay-step
    );
  }
}

@for $i from 1 through 3 {
  .description-animation-#{$i} {
    @include mixin.fade(
      fadeInLeft,
      900ms,
      var.$description-delay-start + ($i - 1) * var.$description-delay-step
    );
  }
}

.paragraph-label-animation {
  @include mixin.fade(fadeInUp, 400ms, 1000ms);
}

.next-animation {
  @include mixin.fade(fadeIn, 600ms, 500ms);
}

.bg-animation {
  @include mixin.fade(fadeIn, 500ms, 500ms);
}

.next-btn-animation {
  @include mixin.anyAnimation(float, 5s, 0ms, ease-in-out, infinite, 1);
}

.circle-text-animation {
  @include mixin.anyAnimation(spin, 15s, 0ms, linear, infinite, 1);
}

.img-animation {
  @include mixin.fade(fadeInBottom, 600ms, 1000ms);
}

.btn-animation {
  @include mixin.fade(fadeInLeft, 600ms, 1000ms);
}

.circle-static {
  @include mixin.circle-base;
  position: relative;
}

.circle-dynamic {
  @include mixin.circle-base;
  position: absolute;
  animation: radar 2500ms infinite;
}