@use './../../../styles/colors' as color;
@use './../../../styles/animations.component' as animation;
@use './../../../styles/fonts' as font;

.form {
  border-radius: 12px;
  min-width: 300px;
  max-width: 600px;
  width: 100%;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  background: linear-gradient(to top left, color.$bg-primary 0%, color.$bg-primary 150%);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;

    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 10%
    );

    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
  }

  &__subhead {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  &__subhead-notice {
    color: color.$font-primary;
    font-size: 14px;
    cursor: default;
  }

  &__subhead-email {
    color: color.$font-secondary;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 300;
  }

  &__btn {
    display: flex;
    justify-content: center;
  }

  &__first-row {
    display: flex;
    max-width: 100%;
    gap: 20px;

    @media (max-width: 500px) {
      flex-direction: column;
      gap: 24px;
    }
  }

  &__input-pair {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    max-width: 100%;
  }

  &__input-title {
    font-size: 12px;
    color: color.$font-primary;
    display: flex;
    align-items: center;
  }

  &__input {
    padding: 14px;
    font-size: 14px;
    color: color.$font-secondary;
    background-color: #0f0f0f;
    border: none;
    border-radius: 8px;
    outline: none;

    &::placeholder {
      color: rgba(255, 255, 255, 0.15);
      font-size: 14px;
    }
  }

  &__textarea {
    padding: 14px;
    height: 100px;
    font-size: 14px;
    color: color.$font-secondary;
    background-color: #0f0f0f;
    border: none;
    border-radius: 8px;
    outline: none;
    resize: none;

    &::placeholder {
      color: rgba(255, 255, 255, 0.15);
      font-size: 14px;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 44px;
  padding: 160px 40px;
padding-bottom: 0px;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
  min-width: 300px;
  width: 100%;

  &__title {
    display: block;
    width: 100%;
    font-size: 44px;
    font-weight: 500;
    color: color.$font-secondary;
    word-spacing: -0.1em;

    &--highlight {
      font-family: font.$font-secondary;
      color: color.$font-primary;
      font-style: italic;
    }
  }

  &__description {
    color: color.$font-primary;
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
  }
}
