@use './../../../styles/colors' as color;
@use './../../../styles/animations.component' as animation;

.imprint {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 160px 40px;

    &__title {
        color: color.$font-secondary;
        font-size: 24px;
        word-break: break-word;
        padding-bottom: 12px;
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__text {
        color: color.$font-primary;
        font-size: 16px;
        width: 100%;
    }

    &__link {
        text-decoration: underline;
        color: color.$font-secondary;
        font-size: 16px;
        width: 100%;
        cursor: pointer;
    }
}