@use './app/styles/fonts' as font;
@use './app/styles/colors' as color;

@font-face {
  font-family: 'Inter';
  src: url('/fonts/primary/Inter.ttf');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Instrument-Serif';
  src: url('/fonts/secondary/InstrumentSerif-Regular.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: font.$font-primary;
  margin: 0;
  background-color: black;
  scroll-behavior: smooth;
}
