@font-face {
  font-family: 'Inter';
  src: url('/fonts/primary/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Instrument-Serif';
  src: url('/fonts/secondary/InstrumentSerif-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

$font-primary: 'Inter', system-ui, -apple-system, sans-serif;
$font-secondary: 'Instrument-Serif', system-ui, sans-serif;

html, body {
  font-family: $font-primary;
  margin: 0;
}