<Section class="navigation glass" [ngClass]="{
    'open-nav': animationsEnabled && navigationOpen,
    'close-nav': animationsEnabled && !navigationOpen
  }">
    <div class="navigation__bar">
        <img src="img/logo-colored.svg" alt="logo" class="navigation__bar--logo">

        <div class="navigation__bar--selection">
            <span class="navigation__bar--option">Projects</span>
            <span class="navigation__bar--option">Services</span>
            <span class="navigation__bar--option">Contact</span>
            <app-fancy-btn [text]="'buy template'"></app-fancy-btn>
        </div>

        <div class="navigation__bar--btn" (click)="openMenu()">
            <img class="line-1" src="img/line-horizontal.svg" [ngClass]="animation ? 'rotate-down' : 'reverse-rotate-down'">
            <img class="line-2" src="img/line-horizontal.svg" [ngClass]="animation ? 'rotate-up' : 'reverse-rotate-up'">
        </div>
    </div>

    <div class="navigation__menu" [ngClass]="navigationOpen ? 'show' : 'hide'">
        <div class="navigation__menu--option td-150"  [ngClass]="navigationOpen ? 'show' : 'hide'">
            Projects
        </div>
        <div class="navigation__menu--option td-200"  [ngClass]="navigationOpen ? 'show' : 'hide'">
            Services
        </div>
        <div class="navigation__menu--option td-250"  [ngClass]="navigationOpen ? 'show' : 'hide'">
            Contact
        </div>
        <app-fancy-btn class="navigation__menu--special-option td-300" [ngClass]="navigationOpen ? 'show' : 'hide'" [text]="'buy template'"></app-fancy-btn>
    </div>
</Section>